<!-- Title list intended **only** if the page is being displayed on the Wii -->
<!DOCTYPE html>
<html>
    <head>
        <title>QubeWSC</title>
    </head>
    <body>
        {% for title in titles %}
            {{ title }}
        {% endfor %}
    </body>
</html>